{% extends '../wrapper.html' %}

{% block content %}
<h1>События в{{ day_name }}</h1>
<table>
    <thead>
        <th>Задача</th>
        <th>Время</th>
        <th>Задание</th>
        <th>Выполнено</th>
        <th>Примечание</th>
        <th>Удалить задачу</th>
        <th>Изменить информацию</th>
    </thead>
    <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.name }}</td>
            <td>{{ lesson.time }}</td>
            <td>{{ lesson.hometask}} <a class="edit" onclick="edit_lesson({{lesson.id}}, 'Домашнее задание', '{{lesson.hometask}}')"><img src="https://img.icons8.com/ultraviolet/15/000000/pencil.png"/></a></td>
            {% if lesson.is_done %}
                <td><img src="https://img.icons8.com/flat_round/18/000000/checkmark.png"/></td>
            {% else %}
                <td><a onclick="done_hometask({{lesson.id}})"><img src="https://img.icons8.com/offices/18/000000/cancel.png"/></a></td>
            {% endif %}
            <td>{{ lesson.note }} <a class="edit" onclick="edit_lesson({{lesson.id}}, 'Примечание', '{{lesson.note}}')"><img src="https://img.icons8.com/ultraviolet/15/000000/pencil.png"/></a></td>
            <td><a onclick="remove({{lesson.id}})">Удалить</a></td>
            <td><a onclick="edit_inf({{lesson.id}})">Изменить</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a onclick="add_lesson({{ day }})">Добавить задачу</a>


<script type="text/javascript">
    function add_lesson(id) {
        window.location.href = `/add_lesson_page?day=${id}`
    }
    function edit_lesson(id, col, current) {
        window.location.href = `/edit_lesson_page?id=${id}&col=${col}&current=${current}`
    }
    function done_hometask(id) {
        window.location.href = `/done?id=${id}`
    }
    function remove(id) {
        window.location.href = `/remove?id=${id}`
    }
    function edit_inf(id) {
        window.location.href = `/edit?id=${id}`
    }
</script>
{% endblock %}
