{% extends '../wrapper.html' %}


{% block content %}
<div class="form-section">
    <h1>Регистрация</h1>
    <form class="" action="/signup/" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="control">
                <label for="">Логин</label>
                <input required width="30vw" class="input is-info" name="login" type="text" placeholder="Primary input">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label for="">Пароль</label>
                <input required class="input is-info" name="password" type="password" placeholder="Info input">
            </div>
        </div>
        <div class="control">
            <button type="submit" class="button is-link is-light">Зарегестрироваться</button>
        </div>
    </form>

</div>

{% endblock %}
